# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Django
db.sqlite3
.env
backend/staticfiles/

# Frontend
node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage / test
.coverage
htmlcov/

# Logs
*.log
